html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightgray;

    @media (max-width: 767px) {
        justify-content: column;
    }
}

/* 공통적인 속성 */
.box {
    display: flex;
    width: 280px;
    height: 370px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: hsl(31, 77%, 52%);
}

.box2 {
    background-color: hsl(184, 100%, 22%);
}

.box3 {
    background-color: hsl(179, 100%, 13%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 70%;
    height: 90%;
}


img {
    width: 60px;
    height: 40px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Big Shoulders Display', cursive;
}

p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75)
}


button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.box1 button {
    color: hsl(31, 77%, 52%);
}

.box2 button {
    color: hsl(184, 100%, 22%);
}

.box3 button {
    color: hsl(184, 100%, 22%);
}