html {
    height: 100%;
}



body {
    height: 100%;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.qr-code-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 315px;
    height: 460px;
    background-color: white;
    border-radius: 10px;



}

img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.wrapper {
    width: 280px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    text-align: center;
}

.par1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
}

.par2 {
    color: hsl(212, 45%, 89%);
}